/* Write your code here. */

.images {
  background-color: #0f172a;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-family: "Roboto";
  color: #ffffff;
  margin-bottom: 10px;
}

img {
  height: 40%;
  width: auto;
}
